@import "tailwindcss";

:root{
  --primary-color: #0C0950;
  --accent-1: #3A8DFF;
  --accent-2: #A7A3FF;
  --background-light:#F4F6FB;
  --text-light:#FFFFFF;
  --text-dark:#1E1E2F;
  --call-to-action:#00D4D4;
  --call-to-action-hover:#00b5b5;
  


  --basic-font:'Sora', sans-serif;
  --sub-font: 'Inter', sans-serif;
 
}

body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0
    
}

/*body styles */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', 'sans-serif';
    height: 100vh;
    width: 100%;
}

@layer utilities {
  /* background-colors */
  .bg-primary{
    background-color: var(--primary-color);
    }
    .bg-accent1{
      background-color: var(--accent-1);
    }
    .bg-accent2{
      background-color: var(--accent-2);
    }
    .bg-cta{
      background-color: var(--call-to-action);
    }
    .bg-light{
      background-color: var(--background-light);
    }
    .bg-cta-hover{
      background-color: var(--call-to-action-hover);
    }

  /*text-colors*/

    .text-primary{
      color: var(--primary-color);
    }
    .text-light{
      color: var(--text-light);
    }
    .text-secondary{
      color: var(--secondary-color);
    }
    .text-paragraph{
    color: var(--paragraph-color);
    }
    .text-cta{
      color: var(--call-to-action);
    }
    .text-dark{
      color: var(--text-dark);
    }

    /*brand-fonts*/

    .basic-font{
        font-family: var(--basic-font);
    }
    .new-font{
      font-family: var(--sub-font);
    }
 

  /*extra-styling*/
    .img-shadow{
        filter: drop-shadow(40px 50px 25px #0f1115);
    }
    .img-shadow2{
        filter: drop-shadow(40px 50px 25px #3030307a);
    }
    .input-style{
        @apply px-4 py-2 border-[1.5px] border-gray-400 rounded-md
    }
    .primary-btn{
        @apply bg-[#f19509] text-white px-4 py-2 rounded-md font-bold hover:bg-[#e86f00]
    }
    
}

